:root {
   color-scheme: light dark;

   /* Color Primitives */
   --primitive-neutral-0: #fff;
   --primitive-neutral-100: #f9f9f8;
   --primitive-neutral-200: #f1f0ed;
   --primitive-neutral-500: #88867f;
   --primitive-neutral-800: #202020;
   --primitive-neutral-900: #0c0b07;
   --primitive-brand: #0059ff;
   --primitive-error: #e31700;

   /* Color Semantic */
   /* -- Backgrounds */
   --color-bg-page: light-dark(
      var(--primitive-neutral-100),
      var(--primitive-neutral-900)
   );
   --color-bg-surface: light-dark(
      var(--primitive-neutral-200),
      var(--primitive-neutral-800)
   );
   --color-bg-overlay: light-dark(
      color-mix(in srgb, var(--primitive-neutral-900) 88%, transparent),
      color-mix(in srgb, var(--primitive-neutral-900) 92%, transparent)
   );
   /* -- Text */
   --color-text-accent: light-dark(
      var(--primitive-brand),
      var(--primitive-brand)
   );
   --color-text-strong: light-dark(
      var(--primitive-neutral-900),
      var(--primitive-neutral-100)
   );
   --color-text-soft: light-dark(
      color-mix(in srgb, var(--color-text-strong) 64%, transparent),
      color-mix(in srgb, var(--color-text-strong) 64%, transparent)
   );
   --color-text-fade: light-dark(
      color-mix(in srgb, var(--color-text-strong) 28%, transparent),
      color-mix(in srgb, var(--color-text-strong) 28%, transparent)
   );
   --color-text-inverse: light-dark(
      var(--primitive-neutral-0),
      var(--primitive-neutral-900)
   );

   /* -- Borders */
   --color-border: light-dark(
      color-mix(in srgb, var(--primitive-neutral-900) 12%, transparent),
      color-mix(in srgb, var(--primitive-neutral-100) 12%, transparent)
   );

   /* Typography */

   /* -- Fallback (Primary registered via astro.config.mjs) */
   --font-fallback: Arial, sans-serif;

   /* -- Fluid Range (Needs to be unitless) */
   --fluid-min-w: 22.5; /* 360px  */
   --fluid-max-w: 80; /* 1280px */

   /* -- Min/max Styles */
   /* ----- Eyebrow */
   --_source-eyebrow-max: 0.75;
   --_source-eyebrow-min: 0.75;
   /* ----- XS */
   --_source-xs-max: 0.875;
   --_source-xs-min: 0.75;
   /* ----- SM */
   --_source-sm-max: 1;
   --_source-sm-min: 0.875;
   /* ----- MD */
   --_source-md-max: 1.125;
   --_source-md-min: 1;
   /* ----- LG */
   --_source-lg-max: 1.25;
   --_source-lg-min: 1.125;
   /* ----- XL */
   --_source-xl-max: 1.5;
   --_source-xl-min: 1.25;
   /* ----- H6 */
   --_source-h6-max: 1;
   --_source-h6-min: 1;
   /* ----- H5 */
   --_source-h5-max: 1.25;
   --_source-h5-min: 1.25;
   /* ----- H4 */
   --_source-h4-max: 1.5;
   --_source-h4-min: 1.375;
   /* ----- H3 */
   --_source-h3-max: 2.25;
   --_source-h3-min: 1.5;
   /* ----- H2 */
   --_source-h2-max: 3.75;
   --_source-h2-min: 2;
   /* ----- H1 */
   --_source-h1-max: 5.5;
   --_source-h1-min: 2.8;

   /* -- Compounded Font-Size Tokens (Don't edit) */
   --text-eyebrow: clamp(
      calc(var(--_source-eyebrow-min) * 1rem),
      calc(
         (
               var(--_source-eyebrow-min) -
                  (var(--_source-eyebrow-max) - var(--_source-eyebrow-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-eyebrow-max) - var(--_source-eyebrow-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-eyebrow-max) * 1rem)
   );
   --text-xs: clamp(
      calc(var(--_source-xs-min) * 1rem),
      calc(
         (
               var(--_source-xs-min) -
                  (var(--_source-xs-max) - var(--_source-xs-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-xs-max) - var(--_source-xs-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-xs-max) * 1rem)
   );
   --text-sm: clamp(
      calc(var(--_source-sm-min) * 1rem),
      calc(
         (
               var(--_source-sm-min) -
                  (var(--_source-sm-max) - var(--_source-sm-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-sm-max) - var(--_source-sm-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-sm-max) * 1rem)
   );
   --text-md: clamp(
      calc(var(--_source-md-min) * 1rem),
      calc(
         (
               var(--_source-md-min) -
                  (var(--_source-md-max) - var(--_source-md-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-md-max) - var(--_source-md-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-md-max) * 1rem)
   );
   --text-lg: clamp(
      calc(var(--_source-lg-min) * 1rem),
      calc(
         (
               var(--_source-lg-min) -
                  (var(--_source-lg-max) - var(--_source-lg-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-lg-max) - var(--_source-lg-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-lg-max) * 1rem)
   );
   --text-xl: clamp(
      calc(var(--_source-xl-min) * 1rem),
      calc(
         (
               var(--_source-xl-min) -
                  (var(--_source-xl-max) - var(--_source-xl-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-xl-max) - var(--_source-xl-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-xl-max) * 1rem)
   );
   --text-h6: clamp(
      calc(var(--_source-h6-min) * 1rem),
      calc(
         (
               var(--_source-h6-min) -
                  (var(--_source-h6-max) - var(--_source-h6-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-h6-max) - var(--_source-h6-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-h6-max) * 1rem)
   );
   --text-h5: clamp(
      calc(var(--_source-h5-min) * 1rem),
      calc(
         (
               var(--_source-h5-min) -
                  (var(--_source-h5-max) - var(--_source-h5-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-h5-max) - var(--_source-h5-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-h5-max) * 1rem)
   );
   --text-h4: clamp(
      calc(var(--_source-h4-min) * 1rem),
      calc(
         (
               var(--_source-h4-min) -
                  (var(--_source-h4-max) - var(--_source-h4-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-h4-max) - var(--_source-h4-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-h4-max) * 1rem)
   );
   --text-h3: clamp(
      calc(var(--_source-h3-min) * 1rem),
      calc(
         (
               var(--_source-h3-min) -
                  (var(--_source-h3-max) - var(--_source-h3-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-h3-max) - var(--_source-h3-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-h3-max) * 1rem)
   );
   --text-h2: clamp(
      calc(var(--_source-h2-min) * 1rem),
      calc(
         (
               var(--_source-h2-min) -
                  (var(--_source-h2-max) - var(--_source-h2-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-h2-max) - var(--_source-h2-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-h2-max) * 1rem)
   );
   --text-h1: clamp(
      calc(var(--_source-h1-min) * 1rem),
      calc(
         (
               var(--_source-h1-min) -
                  (var(--_source-h1-max) - var(--_source-h1-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--_source-h1-max) - var(--_source-h1-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--_source-h1-max) * 1rem)
   );

   /* -- Weights */
   --weight-regular: 400;
   --weight-medium: 500;
   --weight-semibold: 600;
   --weight-bold: 600;

   /* -- Line Heights */
   --leading-100: 1;
   --leading-112: 1.125;
   --leading-125: 1.25;
   --leading-137: 1.375;
   --leading-150: 1.5;

   /* -- Letter Spacing */
   --tracking-tight: -0.02em;
   --tracking-normal: 0em;
   --tracking-wide: 0.05em;
   --tracking-widest: 0.1em;

   /* Spacing */
   /* -- Fluid */
   --space-2: 0.125rem;
   --space-4: 0.25rem;
   --space-6: 0.375rem;
   --space-8: 0.5rem;
   --space-12: clamp(
      0.625rem,
      calc(
         (
               0.625 - (0.75 - 0.625) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (0.75 - 0.625) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      0.75rem
   );
   --space-16: clamp(
      0.75rem,
      calc(
         (
               0.75 - (1 - 0.75) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (1 - 0.75) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      1rem
   );
   --space-20: clamp(
      1rem,
      calc(
         (
               1 - (1.25 - 1) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (1.25 - 1) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      1.25rem
   );
   --space-24: clamp(
      1.125rem,
      calc(
         (
               1.125 - (1.5 - 1.125) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (1.5 - 1.125) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      1.5rem
   );
   --space-28: clamp(
      1.25rem,
      calc(
         (
               1.25 - (1.75 - 1.25) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (1.75 - 1.25) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      1.75rem
   );
   --space-32: clamp(
      1.5rem,
      calc(
         (
               1.5 - (2 - 1.5) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (2 - 1.5) / (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      2rem
   );
   --space-36: clamp(
      1.625rem,
      calc(
         (
               1.625 - (2.25 - 1.625) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (2.25 - 1.625) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      2.25rem
   );
   --space-40: clamp(
      1.75rem,
      calc(
         (
               1.75 - (2.5 - 1.75) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (2.5 - 1.75) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      2.5rem
   );
   --space-44: clamp(
      2rem,
      calc(
         (
               2 - (2.75 - 2) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (2.75 - 2) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      2.75rem
   );
   --space-48: clamp(
      2.125rem,
      calc(
         (
               2.125 - (3 - 2.125) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (3 - 2.125) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      3rem
   );
   --space-52: clamp(
      2.25rem,
      calc(
         (
               2.25 - (3.5 - 2.25) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (3.5 - 2.25) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      3.5rem
   );
   --space-56: clamp(
      2.5rem,
      calc(
         (
               2.5 - (3.5 - 2.5) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (3.5 - 2.5) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      3.5rem
   );
   --space-64: clamp(
      2.75rem,
      calc(
         (
               2.75 - (4 - 2.75) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (4 - 2.75) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      4rem
   );
   --space-72: clamp(
      3rem,
      calc(
         (
               3 - (4.5 - 3) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (4.5 - 3) / (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      4.5rem
   );
   --space-80: clamp(
      3.5rem,
      calc(
         (
               3.5 - (5 - 3.5) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (5 - 3.5) / (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      5rem
   );
   --space-88: clamp(
      3.75rem,
      calc(
         (
               3.75 - (5.5 - 3.75) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (5.5 - 3.75) / (var(--fluid-max-w) - var(--fluid-min-w)) *
            100vw
      ),
      5.5rem
   );
   --space-96: clamp(
      4rem,
      calc(
         (
               4 - (6 - 4) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (6 - 4) / (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      6rem
   );

   /* -- Em */
   --space-em-025: 0.25em;
   --space-em-050: 0.5em;
   --space-em-075: 0.75em;
   --space-em-100: 1em;
   --space-em-125: 1.25em;
   --space-em-150: 1.5em;
   --space-em-175: 1.75em;
   --space-em-200: 2em;
   --space-em-225: 2.25em;
   --space-em-250: 2.5em;
   --space-em-275: 3.75em;
   --space-em-300: 3em;

   /* -- Gap */
   --gap-xs: var(--space-8);
   --gap-sm: var(--space-12);
   --gap-md: var(--space-20);
   --gap-lg: var(--space-32);
   --gap-xl: var(--space-44);

   /* -- Radius */
   --radius-sm: 0.25rem;
   --radius-md: 0.5rem;
   --radius-lg: 0.75rem;

   /* Accessibility */
   --outline-width: 4px;
   --outline-offset: 0px;
   --outline-color: light-dark(
      color-mix(
         in srgb,
         var(--color-text-accent) 20%,
         rgba(120, 224, 255, 0.4)
      ),
      color-mix(in srgb, var(--color-text-accent) 48%, transparent)
   );

   /* Layout */
   --section-padding: max(4vw, 1.25rem);
   --container-max-default: 80rem;

   /* Easing */
   /* From gentle -> snappiest */
   --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
   --ease-out-power-1: cubic-bezier(0.25, 0.46, 0.45, 0.94);
   --ease-out-power-2: cubic-bezier(0.215, 0.61, 0.355, 1);
   --ease-out-power-3: cubic-bezier(0.165, 0.84, 0.44, 1);

   /* Transitions */
   --duration-xs: 200ms;
   --duration-sm: 400ms;
   --duration-md: 600ms;
   --duration-lg: 800ms;

   /* Components */
   /* --Card */
   --card-p: var(--space-20);
   --card-radius: var(--radius-md);

   /* --Button */
   --btn-py: 0.5em;
   --btn-px: 0.75em;
   --btn-radius: var(--radius-lg);

   /* --Input */
   --input-radius: var(--radius-md);
}

/* Reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
   :root {
      --duration-xs: 0.01ms;
      --duration-sm: 0.01ms;
      --duration-md: 0.01ms;
      --duration-lg: 0.01ms;
   }
}
