:root {
   color-scheme: light dark;

   /* Color Primitives */
   --primitive-neutral-100: #f9f9f8;
   --primitive-neutral-200: #f1f0ed;
   --primitive-neutral-500: #88867f;
   --primitive-neutral-800: #202020;
   --primitive-neutral-900: #0c0b07;
   --primitive-brand: #0059ff;
   --primitive-error: #e31700;

   /* Color Semantic */
   /* -- Backgrounds */
   --color-background: light-dark(
      var(--primitive-neutral-100),
      var(--primitive-neutral-900)
   );
   --color-surface: light-dark(
      var(--primitive-neutral-200),
      var(--primitive-neutral-800)
   );
   /* -- Text */
   --color-accent: light-dark(var(--primitive-brand), var(--primitive-brand));
   --color-text-strong: light-dark(
      var(--primitive-neutral-900),
      var(--primitive-neutral-100)
   );
   --color-text-soft: light-dark(
      color-mix(in srgb, var(--color-text-strong) 48%, transparent),
      color-mix(in srgb, var(--color-text-strong) 48%, transparent)
   );
   --color-text-muted: light-dark(
      color-mix(in srgb, var(--color-text-strong) 28%, transparent),
      color-mix(in srgb, var(--color-text-strong) 28%, transparent)
   );
   --color-border: light-dark(
      color-mix(in srgb, var(--primitive-neutral-900) 12%, transparent),
      color-mix(in srgb, var(--primitive-neutral-100) 12%, transparent)
   );

   /* Typography */

   /* -- Fallback (Primary registered via astro.config.mjs) */
   --font-fallback: Arial, sans-serif;

   /* -- Fluid Range (Needs to be unitless) */
   --fluid-min-w: 22.5; /* 360px  */
   --fluid-max-w: 80; /* 1280px */

   /* -- Min/max Styles */
   /* ----- Eyebrow */
   --text-eyebrow-max: 0.75;
   --text-eyebrow-min: 0.75;
   /* ----- SM */
   --text-sm-max: 0.875;
   --text-sm-min: 0.875;
   /* ----- MD */
   --text-md-max: 1.125;
   --text-md-min: 1;
   /* ----- LG */
   --text-lg-max: 1.25;
   --text-lg-min: 1.125;
   /* ----- XL */
   --text-xl-max: 1.5;
   --text-xl-min: 1.25;
   /* ----- H6 */
   --text-h6-max: 1;
   --text-h6-min: 1;
   /* ----- H5 */
   --text-h5-max: 1.25;
   --text-h5-min: 1.25;
   /* ----- H4 */
   --text-h4-max: 1.5;
   --text-h4-min: 1.375;
   /* ----- H3 */
   --text-h3-max: 2.25;
   --text-h3-min: 1.5;
   /* ----- H2 */
   --text-h2-max: 3.75;
   --text-h2-min: 2;
   /* ----- H1 */
   --text-h1-max: 5.5;
   --text-h1-min: 2.8;

   /* -- Compounded Font-Size Tokens (Don't edit) */
   --text-eyebrow: clamp(
      calc(var(--text-eyebrow-min) * 1rem),
      calc(
         (
               var(--text-eyebrow-min) -
                  (var(--text-eyebrow-max) - var(--text-eyebrow-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-eyebrow-max) - var(--text-eyebrow-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-eyebrow-max) * 1rem)
   );
   --text-sm: clamp(
      calc(var(--text-sm-min) * 1rem),
      calc(
         (
               var(--text-sm-min) - (var(--text-sm-max) - var(--text-sm-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-sm-max) - var(--text-sm-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-sm-max) * 1rem)
   );
   --text-md: clamp(
      calc(var(--text-md-min) * 1rem),
      calc(
         (
               var(--text-md-min) - (var(--text-md-max) - var(--text-md-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-md-max) - var(--text-md-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-md-max) * 1rem)
   );
   --text-lg: clamp(
      calc(var(--text-lg-min) * 1rem),
      calc(
         (
               var(--text-lg-min) - (var(--text-lg-max) - var(--text-lg-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-lg-max) - var(--text-lg-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-lg-max) * 1rem)
   );
   --text-xl: clamp(
      calc(var(--text-xl-min) * 1rem),
      calc(
         (
               var(--text-xl-min) - (var(--text-xl-max) - var(--text-xl-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-xl-max) - var(--text-xl-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-xl-max) * 1rem)
   );
   --text-h6: clamp(
      calc(var(--text-h6-min) * 1rem),
      calc(
         (
               var(--text-h6-min) - (var(--text-h6-max) - var(--text-h6-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-h6-max) - var(--text-h6-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-h6-max) * 1rem)
   );
   --text-h5: clamp(
      calc(var(--text-h5-min) * 1rem),
      calc(
         (
               var(--text-h5-min) - (var(--text-h5-max) - var(--text-h5-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-h5-max) - var(--text-h5-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-h5-max) * 1rem)
   );
   --text-h4: clamp(
      calc(var(--text-h4-min) * 1rem),
      calc(
         (
               var(--text-h4-min) - (var(--text-h4-max) - var(--text-h4-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-h4-max) - var(--text-h4-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-h4-max) * 1rem)
   );
   --text-h3: clamp(
      calc(var(--text-h3-min) * 1rem),
      calc(
         (
               var(--text-h3-min) - (var(--text-h3-max) - var(--text-h3-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-h3-max) - var(--text-h3-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-h3-max) * 1rem)
   );
   --text-h2: clamp(
      calc(var(--text-h2-min) * 1rem),
      calc(
         (
               var(--text-h2-min) - (var(--text-h2-max) - var(--text-h2-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-h2-max) - var(--text-h2-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-h2-max) * 1rem)
   );
   --text-h1: clamp(
      calc(var(--text-h1-min) * 1rem),
      calc(
         (
               var(--text-h1-min) - (var(--text-h1-max) - var(--text-h1-min)) /
                  (var(--fluid-max-w) - var(--fluid-min-w)) * var(--fluid-min-w)
            ) *
            1rem + (var(--text-h1-max) - var(--text-h1-min)) /
            (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      calc(var(--text-h1-max) * 1rem)
   );

   /* -- Weights */
   --weight-regular: 400;
   --weight-medium: 500;
   --weight-semibold: 600;
   --weight-bold: 700;

   /* -- Line Heights */
   --leading-100: 1;
   --leading-125: 1.125;
   --leading-250: 1.25;
   --leading-375: 1.375;
   --leading-150: 1.5;

   /* -- Letter Spacing */
   --tracking-tight: -0.02em;
   --tracking-normal: 0em;
   --tracking-wide: 0.05em;
   --tracking-widest: 0.1em;

   /* TODO: CONITUNUE HERE */
   /* ─── Gap scale ──────────────────────────────────────── */
   --gap: 2.5rem;
   --gap-xs: 0.5rem;
   --gap-sm: 1rem;
   --gap-md: 1.5rem;
   --gap-lg: var(--gap);
   --gap-xl: 4rem;

   /* ─── Spacing ─────────────────────────────────────────── */
   --space-xs: 0.5em;
   --space-sm: 1em;
   --space-md: 2em;
   --space-lg: 3em;

   /* ─── Components ──────────────────────────────────────── */
   --radius-sm: 0.25rem;
   --radius-md: 0.5rem;
   --radius-lg: 1rem;
   --card-padding: clamp(
      1rem,
      calc(
         (
               1 - (1.5 - 1) / (var(--fluid-max-w) - var(--fluid-min-w)) *
                  var(--fluid-min-w)
            ) *
            1rem + (1.5 - 1) / (var(--fluid-max-w) - var(--fluid-min-w)) * 100vw
      ),
      1.5rem
   );
   --btn-py: 0.5em;
   --btn-px: 0.75em;
   --input-radius: 0.5rem;

   /* ─── Accessibility ───────────────────────────────────── */
   --outline-width: 2px;
   --outline-offset: 3px;
}

/* Responsive gap */
@media (max-width: 991px) {
   :root {
      --gap: 2.25rem;
   }
}
@media (max-width: 767px) {
   :root {
      --gap: 2rem;
   }
}
@media (max-width: 479px) {
   :root {
      --gap: 1.75rem;
   }
}
